$main-blur: #00aae7;
$main-blue2: #0099ff;
$main-red: #dc3545;
$main-txt-color: #2d2d2d;
$main-txt-color2: #4a4444;
$main-bg-color: #f4f4f4;
$main-bg-dark: #1e1c2a; 
$navbar-bg: #021e39;
$light-bg: #F2F3F5;
$light-bg2: #CCCCCC;
$light-bg3: #ebf3f6;
$main-txt1: #7d7d7d;
$main-txt2: #666;
$main-line-height: 37px;
$main-transition: all 0.5s ease-in-out;
$title-color: #585b5f;
$pink-bg: rgb(243, 220, 224);

.btnItem{
  padding: 3px 5px;
  font-size: 15px;
  font-weight: 500;
}

/*=================================== header ===================================*/
.navbar{
  margin: 0; 
  padding: 0; 
  position:fixed;
  z-index: 100; 
  width: 100%;
  background-color: $navbar-bg;
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;

  font-size: 18px;

  .navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    line-height: 60px;

    .logoDiv{
      color: #fff;
      .logo{
        font-size:30px;
        color: #fff;
      }
    }
    .leftNav{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      
      .links{
        padding: 0 10px; 
        color: #fff;
        text-decoration: none;
      }
    }
  
    .rightNav{
      display: flex;
      justify-content: center;
      align-items: center;

      .hamburger{
        font-size: 30px;
        color: #fff;
        line-height: 60px;
        display:flex;
        justify-content: center;
        padding-left:10px;
        cursor: pointer;
        display:none;
      }
     .newBtn{
      font-size:14px;
      padding: 4px 15px;
     }
    }
  }
  
}

@media only screen and (max-width: 680px){
  .navbar{
    background-color: red;
    .navbarContainer{
      .leftNav{
        font-size:15px;
      }
      .leftNav{
        transition: all 0.5s ease-in-out;
        &.newLinks{
          position:absolute;
       
          top:60px;
          left:0;
          right:0;
          height:70vh;
          width: 100%;
          background-color:pink;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          color: #000;
          .links{
            font-size:30px;
            color: #000;
            display: flex;
          flex-direction: column;
          align-items: center;
          }
        }
        .links{
          display: none;
        }
      }
      .rightNav{
        .hamburger{
          display: flex;
          color: #fff;
        }
        .newBtn{

        }
      }
    }
  }
}
/*==================================== end of navbar styles ======================*/

/*============================= itemComponent Styles ====================*/
.itemComponent{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(194, 191, 191);
  position: relative;
  overflow:hidden;
  font-size:16px;
  .img{
    margin:5px auto; 
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 5px;
    transition: all 0.6s ease;
    padding: 10px 5px;
    
    
  }
  .price{
    position: absolute;
    top:10px;
    left:10px;
    color: $main-red;
    font-size:16px;
    font-weight: 500;
  }

  .itemAddTo{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
     .titleFoodItem{
      padding: 0;
      font-size:16px;
      text-decoration: none;
     }
    .itemBtn{
      @extend .btnItem; 
    }
  }
}
/*================== media query for item component ========*/

@media (max-width: 480px) {
  .itemComponent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
   
    .img{
      margin:10px auto; 
      padding: 5px;
      &:hover{
        transform: scale(1.2);
      }
    }
    .price{
      position: absolute;
      top:8px;
      left:8px;
      font-weight:500;
      font-size:15px;
    }
  
    .itemAddTo{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
       .titleFoodItem{
        padding: 5px;
        font-size:16px;
       }

      .itemBtn{
        border-radius: 2px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.5s ease;
       
      }
    }
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  .itemComponent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
   
    .img{
      margin:10px auto; 
      padding: 5px;
      &:hover{
        transform: scale(1.2);
      }
    }
    .price{
      position: absolute;
      top:8px;
      left:8px;
      font-weight:500;
      font-size:15px;
    }
  
    .itemAddTo{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
       .titleFoodItem{
        padding: 5px;
        font-size:16px;
       }

      .itemBtn{
        border-radius: 2px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.5s ease;
       
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1024px){
  
}


@media (min-width: 1025px) and (max-width: 1280px){
 
}


@media (min-width: 1281px) {

}

/*================================== body =======================*/


/*==================================== end of homepage banner styles ======================*/
.banner{
  height: 90vh; 
  /* background-color:$main-bg-dark; */
  background-color:$light-bg;
  width: 100%;
  color: #fff;
  .bannerImgs{
    width: 80%;
    height: 90%;
    position: relative;
    .img1{
      width: 73%;
      position: absolute;
      top: 62%;
      right: 10%;
      transition: all 0.6s ease;
      transform: rotate(40deg);
      &:hover{
        transform: scale(1.4) rotate(20deg);
        z-index: 100;
      }
    }

    .img2{
      width: 70%;
      position: absolute;
      top: 62%;
      right: 25%;
      transition: all 0.6s ease;
      transform: rotate(1deg);
      &:hover{
        transform: scale(1.5) ;
        z-index: 100;
      }
    }
    .img3{
      width: 60%;
      position: absolute;
      top: 86%;
      right: -4%;
      transition: all 0.6s ease;
      transform: rotate(1deg);
      &:hover{
        transform: scale(1.5) rotate(20deg);
        z-index: 100;
      }
    }
  }

}
/*==================================== starting of home page styles ======================*/
.home{
  .mainBanner{
    background-image: url('../components/assests/img1/restbg1.jpg');
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
 
 .intro{
    background-color: $light-bg3 ;
    padding: 70px ;
    color: rgb(88, 87, 87);
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    line-height: $main-line-height;

    .imgContainer{
      border-radius: 5px;
      margin-top:43px;
      .img{
        width: 90%;
        height: 90%;
        border-radius: 5px;
        transition: $main-transition;
        }
   
      }
    h2{
      font-size: 22px; 
      color: $main-txt2;
    }
    p{
      font-size: 17px;
      color: $main-txt2;
      text-align: left;
      padding-left:30px;
    }
  }

  .imgCollections{
    .imgCollecContainer{
      margin: 0;
      padding: 0;
      height: 280px;
      overflow: hidden;
      .imgs{
        height: 280px;
        transition: $main-transition;
        &:hover{
          transform: scale(1.4);
        }
      }
    }
  }
  .menu{
    background-color: $main-bg-dark;
    padding-top: 40px;
    h1{
      display: block;
      text-align: center;
      color: #fff;
    }
    /* display: flex;
    justify-content: center; */
    .menuBtns{
      margin: 0 auto;
      width: 80%;
      padding: 10px 20PX;
      align-items: center;
      text-align: center;
      background-color: $main-red;
      border-radius: 5PX;
      .catBtn{
        border: none;
        background: none;
        padding: 5px 10px;
        color: #fff;
        font-size: 19px;
        &.catActive{
          background-color: #fff;
          color: $main-red;
          border-radius: 5px;
        }
      }
    }
    
  }
  .products{
    margin: 0 auto; 
    padding: 30px 100px; 
    background-color: $main-bg-dark;

    .FoodItem{
      @extend .itemComponent;
    }
  }
}
/*==================================== ending of home page styles ======================*/

 


  /*======================react calendar ==========================*/
  .calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    .reactCalendar{
      width: 450px;
      max-width: 100%;
      background: white;
      border-radius: 15px;
      border: 1px solid rgb(209 213 219);
      font-family: Manrope, Helvetica, sans-serif;
      line-height: 1.125em;
      &:focus{
        background-color: red;
        color: blue;
        font-size:50px;
      }
    }
  }
  

  /*================================ cartItems styles ===========================*/
  .cartItem{
    width: 80%;
    background-color: rgb(192, 215, 222);
    padding: 20px;
    box-shadow: 0 10px 10px lightgrey; 
    .title{
      font-size: 22px;
      padding: 20px;
    }
    .amount{
      padding: 10px;
      background-color: rgb(232, 243, 247);
      border-radius: 5px;
      border: 1px solid rgb(179, 177, 177);
      margin: 10px 0;
      width: 150px;
      display: block;
      text-align: center;
      font-size:20px;
      .amountUpDown{
        padding: 5px;
        cursor: pointer;
        color: red;
        
      }
    }
  }

  /*================================ common Section styles ====================*/

  .commonSection{
    background: linear-gradient(rgb(78, 76, 76, 0.7) , rgba(255, 255, 255, 0.5)), url('../components/assests/images/banner-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0; 
    height: 300px;
  }

  .searchAllMenu{
    display: flex;
    justify-content: space-between;
    margin: 20px auto; 
    padding: 30px 100px;

    .mainSearchContainer{
      width: 50%;
      margin: 5px auto;
      display:flex; 

      .menuSearch{
        
        .searchIcon{
          position:relative;
          left: -28px;
          font-size: 22px;
          top: 5px;
          color: #575fe7;
          cursor: pointer;
        }
      }
    }

    .products{
    
      padding: 30px;
      margin: 0 auto; 
      
      .searchHeading{
        text-align: center; 
        font-size: 20px;
      }
      .FoodItem{
       @extend .itemComponent; 
      }
    }
    .pagination{
      margin: 20px auto;
      text-align:center; 
      display: flex;
      justify-content: center;
      padding: 10px;
      column-gap: 10px;
      padding: 5px 8px; 
      
      
      a{
        text-decoration: none;
        //background-color: #0099ff; 
        background-color: $main-blur; 
        color: #fff; 
        padding: 6px 12px;
        border-radius: 3px;
        font-size: 17px;
        /* box-shadow: 0 3px 3px $main-blur; */
        &.active{
          background-color: $main-red; 
          box-shadow: 0 3px 3px $main-red;
        }
        &.disable{
          background-color: grey;
          cursor: not-allowed;
        }
      }

     
    }
  }

 

  /*================================== product Details styles =====================*/
.productDetails{
  margin-top: 60px;
  .productBanner{
    background: linear-gradient(rgb(78, 76, 76, 0.7) , rgba(255, 255, 255, 0.5)), url('../components/assests/images/banner-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0; 
    height: 300px;
    .detailsHeading{
      background-color: lightcyan;
      padding: 20px; 
      border-radius: 5px;
      width: 40%;
      margin: 0 auto; 
    }
  }

  .productImgs{
      margin: 40px 0; 
      .imgOne{
        width: 100px !important;
        height: 100px !important;
        cursor: pointer; 
      }
  }
  .mainImg{
    transition: all 0.5s ease-in-out;
  }
  .productContent{
   

  }
  .tabs{
    color: $title-color; 
    margin-top: 30px;
    padding-top: 30px;
    border-bottom: 1 px solid $main-red;
    .tabsTitle{
      font-size: 20px;
      cursor: pointer;
      padding-top: 10px;
      &.active{
        border-bottom: 1 px solid $main-red;
        border-radius: 2px;
        color: $main-red;
        padding:10px;
        margin:0;
        background-color: $pink-bg; 
        font-weight: 500;
      }
      
    }
    
  }

  .products{
    margin: 20px auto;
    padding: 9 100px;

    .detailsHeading2{
      margin: 20px auto;
      text-align: center;
      color: $main-txt-color2;
    } 
    .FoodItem{
      @extend .itemComponent;
    }
  }
}
.tabsText{
  background-color:rgba(255, 255, 255, 0.5);
  .textActive{
    border-bottom: 1 px solid $main-red;
      border-radius: 5px;
      background-color: $pink-bg; 
      padding: 20px;
      line-height: 30px;
  }
  
}

/*==================================== Cart.js styles ============================= */
.totalCartItems{

  .cartItemsBanner{
    background: linear-gradient(rgb(78, 76, 76, 0.7) , rgba(255, 255, 255, 0.5)), url('../components/assests/images/banner-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0; 
    height: 300px;
    .cartHeading{
      background-color: lightcyan;
      padding: 20px; 
      border-radius: 5px;
      width: 40%;
      margin: 0 auto; 
    }
  }

  .cartItemsHeading{
    width: 40%; 
    margin: 30px auto;
    text-align: center;
    font-size:20px;
  }
  .cartItemsContent{
    margin: 50px 100px;
   
    padding: 20px;
    .cartHeading{
      width: 40%;
      margin: 10px auto; 
    }

    .itemAllDetails{
      

      .itemDetails{
        display: flex;

        .itemDetailsAmount{
          display: flex;
        }
      }
    }
    

    

   
  }
}



/* Media Query for Mobile Devices */
/* @media (max-width: 480px) {
  body {
      background-color: red;
  }
} */

/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
  body {
      background-color: yellow;
  }
} */

/* Media Query for Tablets Ipads portrait mode */
/* @media (min-width: 768px) and (max-width: 1024px){
  body {
      background-color: blue;
  }
}
 */
/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
  body {
      background-color: green;
  }
} */

/* Media Query for Large screens */
/* @media (min-width: 1281px) {
  body {
      background-color: white;
  }
} */